@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body,
html {
  background: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 99px;
  text-align: center;
}

div {
  position: absolute;
}
.new {
  font-size: 20px;
  display: flex;
  color: #000000;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

  & div {
    position: static;
  }

  & * {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
  }
  & h3 {
    z-index: 100;
  }
  @font-face {
    font-family: OpenSans;
    src: url(./assets/open-sans/OpenSans-Italic.ttf);
  }
  & body {
    font-family: OpenSans;
    background-color: rgb(30, 32, 45);
    color: azure;
    padding: 0.5em;
  }

  & img {
    padding-left: 2em;
    padding-bottom: 2em;
  }

  & h3 {
    padding: 0.5em;
  }

  & .mainer {
    margin-top: 60%;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.5em;
  }

  & .me {
    display: flex;
    padding: 1em;
  }

  & .navigate {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.5em;
  }

  & a:link {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }

  & a:visited {
    color: rgb(3, 18, 0);
    background-color: transparent;
    text-decoration: none;
  }

  & a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

  & a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  & .banner p {
    padding-left: 4em;
    font-size: 2em;
    z-index: 100;
  }

  & .aboutmeheader {
    display: flex;
  }

  & .aboutme {
    display: flex;
    align-items: center;
    border: 5em;
    border-style: double;
  }

  & .two {
  }
  & .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }

  & .work {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  & .work > a {
    display: flex;
    height: 8em;
    width: 8em;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 4em;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0), 0 0 1em rgb(5, 129, 129),
      0 0 0.2em rgb(1, 6, 111);
    justify-content: space-evenly;
  }
  & .work > a:nth-of-type(1) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }

  & .work > a:nth-of-type(1):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  & .work > a:nth-of-type(2) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(2):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  & .work > a:nth-of-type(3) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }

  & .work > a:nth-of-type(3):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  & .work > a:nth-of-type(4) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }

  & .work > a:nth-of-type(4):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  & .work > a:nth-of-type(5) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(5):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  & .work > a:nth-of-type(6) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(6):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  & .work > a:nth-of-type(7) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(7):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  & .work > a:nth-of-type(8) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(8):hover {
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  & .work > a:nth-of-type(9) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(9):hover {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 10) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  & .work > a:nth-of-type(10) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(10):hover {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 10) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  & .work > a:nth-of-type(11) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(11):hover {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 10) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  & .work > a:nth-of-type(12) {
    background: rgb(63, 94, 251);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 10) 0%,
      rgb(0, 0, 255) 100%
    );
  }
  & .work > a:nth-of-type(12):hover {
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 10) 10%,
      rgb(0, 174, 255) 150%
    );
    color: rgb(0, 0, 0);
    text-shadow: none;
  }
  & .contact {
    display: flex;
    align-items: flex-start;

    justify-content: space-around;
    margin: 2em;
  }

  & .gridsection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-template-rows: masonry;
    background: rgb(32, 82, 105);
    background: radial-gradient(
      circle,
      rgba(0, 174, 255, 0.492) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  & .one {
    grid-column: 1;
    grid-row: 1;
  }
  & .two {
    grid-column: 2/6;
    grid-row: 1/20;
  }
  & .three {
    grid-column: 1;
    grid-row: 22 / 24;
  }
  & .four {
    grid-column: 2/6;
    grid-row: 25/27;
    font-size: 30px;
  }
  & footer {
  }
}
