* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
   z-index: 100;
}
@font-face {
  font-family: OpenSans;
  src: url(open-sans/OpenSans-Regular.ttf);
}
body {
  font-family: OpenSans;
  background-color: rgb(30, 32, 45);
  color: azure;
  padding: 0.5rem;
}

img {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

h3 {
  padding: 0.5rem;
}

main {
  padding: 1rem;
  margin-left: 5%;
}

header {
  display: flex;
  flex-flow: row wrap;
}

.me {
  display: flex;
  padding: 1rem;
}

.navigate {
  display: flex;
  justify-content: space-around;
}

a:link {
  color: rgb(255, 68, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.banner {
  display: flex;
  background-image: url(pexels-dana-tentis-370799.jpg);
  color: rgb(39, 33, 45);
  height: 10em;
  align-items: center;
   z-index: -50;
}

.banner p {
  padding-left: 4rem;
  font-size: 2rem;
   z-index: 100;
}

.aboutmeheader {
  display: flex;
}

.aboutme {
  display: flex;
  align-items: center;
  border: 5rem;
  border-style: double;
}

.two {
  height: 5rem;
}
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.work {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.work > a {
  display: flex;
  height: 10rem;
  width: 10rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  align-items: center;
  text-align: center;
      text-shadow: 2px 2px 4px rgb(0, 0, 0), 0 0 1em rgb(5, 129, 129), 0 0 0.2em rgb(1, 6, 111);
}
.work > a:nth-of-type(1) {
  background-image: url(pexels-markus-spiske-1268129.jpg);
  background-size: 100% 100%;

}

.work > a:nth-of-type(1):hover {
  transform: scale(1.25);
}

.work > a:nth-of-type(2) {
  background-image: url(fire.jpg);
  background-size: 100% 100%;
}
.work > a:nth-of-type(2):hover {
  transform: scale(1.25);
}

.work > a:nth-of-type(3) {
  background-image: url(rocks3.jpg);
  background-size: 100% 100%;
}

.work > a:nth-of-type(3):hover {
  transform: scale(1.25);
}

.work > a:nth-of-type(4) {
  background-image: url(trees3.jpg);
  background-size: 100% 100%;
}

.work > a:nth-of-type(4):hover {
  transform: scale(1.25);
}
.work > a:nth-of-type(5) {
  background-image: url(rocks2.jpg);
  background-size: 100% 100%;
}
.work > a:nth-of-type(5):hover {
  transform: scale(1.25);
}

.work > a:nth-of-type(6) {
  background-image: url(metallic1.jpg);
  background-size: 100% 100%;
}
.work > a:nth-of-type(6):hover {
  transform: scale(1.25);
}

.work > a:nth-of-type(7) {
  background-image: url(rocks1.jpg);
  background-size: 100% 100%;
  
}
.work > a:nth-of-type(7):hover {
  transform: scale(1.25);
}

.work > a:nth-of-type(8) {
  background-image: url(pexels-aleksandr-slobodianyk-989959.jpg);
  background-size: 100% 100%;
}
.work > a:nth-of-type(8):hover {
  transform: scale(1.25);
}


.work > a:nth-of-type(9) {
  background-image: url(metallic3.jpg);
  background-size: 100% 100%;
}
.work > a:nth-of-type(9):hover {
  transform: scale(1.25);
}


footer {
  display: flex;
  flex-flow: row wrap;
}

.contact {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gridsection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  grid-template-rows: masonry;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  display: flex;
  grid-column: 2/6;
  grid-row: 1/20;
}
.three {
  grid-column: 1;
  grid-row: 22 / 24;
}
.four {
  grid-column: 2/6;
  grid-row: 25/27;
}
