* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: OpenSans;
    src: url(open-sans/OpenSans-Regular.ttf);
  }
  body {
    font-family: OpenSans;
    background-color: rgb(39, 33, 45);
    color: azure;
    padding: 0.5rem;
  }

  img {
    padding: 1rem;
  }

  h3 {padding: .5rem;}


main {
padding: 1rem;
margin-left: 5%;
}

  header {
display: flex;
flex-flow: row wrap;
  }

.me {
display: flex;
padding: 1rem;
}

.navigate {
display: flex;
}

  a:link {
    color:orangered;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .banner {
    display: flex;
    background-image: url(pexels-dana-tentis-370799.jpg);
    color: rgb(39, 33, 45);
  }

  .banner p{
    padding-left: 55%;
    font-size: 1.5rem;
  }

  .aboutmeheader {
    DISPLAY: flex;
    
  }

    .aboutme {
      display: flex;
  align-items: center;
  border-width: 1rem;
  border-style: double;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
      }


    .werk {
        display: flex

    }
    .work {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;

      }

  .work > a {
    display: flex;
    height: 10rem;
    width:10rem;

    font-size: 1.5rem;
    color: orangered;
    border-radius: 2px;
    align-items: center;
    
  }
.work>a:nth-of-type(1) {
    background-image: url(pexels-pixabay-270549.jpg);
    background-size: 100% 100%;
  height:10rem;
  width: 20rem;
  }
  
  .work>a:nth-of-type(1):hover {
    transform: scale(1.25);
  }
  
  .work>a:nth-of-type(2) {
    background-image: url(pexels-laura-tancredi-7078384.jpg);
    background-size: 100% 100%;
  
  }
  .work>a:nth-of-type(2):hover {
    transform: scale(1.25);
  }
  
  .work>a:nth-of-type(3) {
    background-image: url(pexels-max-deroin-249203.jpg);
    background-size: 100% 100%;
  
  }
  
  .work>a:nth-of-type(3):hover {
    transform: scale(1.25);
  }
  
  .work>a:nth-of-type(4) {
    background-image: url(pexels-pixabay-355770.jpg);
    background-size: 100% 100%;
  
  }
  
  .work>a:nth-of-type(4):hover {
    transform: scale(1.25);
  }
  .work>a:nth-of-type(5) {
    background-image: url(pexels-frans-van-heerden-1022692.jpg);
    background-size: 100% 100%;
  
  }
  .work>a:nth-of-type(5):hover {
    transform: scale(1.25);
  }
  
  .work>a:nth-of-type(6) {
    background-image: url(pexels-la-miko-3616764.jpg);
    background-size: 100% 100%;
  
  }
  .work>a:nth-of-type(6):hover {
    transform: scale(1.25);
  }

  .work>a:nth-of-type(7) {
    background-image: url(pexels-markus-spiske-1268129.jpg);
    background-size: 100% 100%;
  
  }
  .work>a:nth-of-type(7):hover {
    transform: scale(1.25);
  }
  
  footer {
    display: flex;
flex-flow: row wrap;
  }
  
    .contact {
      display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
  
    .gridsection {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        grid-template-rows: masonry;
      }
      .one {
        grid-column: 1;
        grid-row: 1;
      }
      .two {
        grid-column: 2/6;
        grid-row: 1;
      }
      .three {
        grid-column: 1;
        grid-row: 2 / 4;
      }
      .four {
        grid-column: 2/6;
        grid-row: 2/4;
      }


